* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;

}
a {
  text-decoration: none;
  color: aliceblue;

}
.nav__wrapper {
    padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 25px 80px;
}
.nav__ul {
 padding-top: 30px;
    border-radius: 20px;
 background: radial-gradient(rgb(2, 91, 2),black);
 width: 1500px;
 height: 100px;
  display: flex;
  justify-content: space-between;
  gap: 45px;
}
.me {
    color:  radial-gradient(rgb(2, 91, 2),black);
}
.word {
  width: 100px;
  height: 1000px;
}